name: Deploy Databricks Jobs

on:
  push:
    branches:
      - main
  workflow_dispatch:  # allow manual trigger

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Create Databricks Jobs
        env:
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
          DATABRICKS_USER: ${{ secrets.DATABRICKS_USER }}
          DATABRICKS_REPO_NAME: ${{ secrets.DATABRICKS_REPO_NAME }}
        run: |
          echo "Deploying Databricks Jobs using MLOps CLI"
          python -m mlops_cli.cli create-jobs
